# logs
logs
*.log
npm-debug.log*

# dependency directories
node_modules/
jspm_packages/

# Bundle output
dist/
dist-ssr/
*.local

# Editor configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript cache
tsconfig.tsbuildinfo
